.nav-header {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 767px) {
  .nav-header {
    flex-direction: column;
  }
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  max-width: 1110px;

  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .nav-content {
    flex-direction: column;
    width: 100%;
    padding-right: 15px;
  }
}

.nav-bar-mobile-logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-bar-mobile-logo-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav-bar-large-container {
    display: none;
  }
}

.website-logo {
  width: 110px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 120px;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu-mobile {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-menu-mobile {
    display: none;
  }
}

.nav-menu-list-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #ffffff;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .first-items {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0;
    list-style-type: none;
    margin-top: 33px;
    font-family: 'Roboto';
    font-size: 10px;
  }
  .drop-down-image {
    height: 10px;
    width: 12px;
    margin-top: 5px;
  }
}
.nav-menu-item {
  font-family: 'Roboto';

  margin-left: 5px;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
  background-color: white;
}

.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 12px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 20px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 767px) {
  .logout-desktop-btn {
    display: none;
  }
  .line {
    height: 90px;

    border-width: 1px;
    border-color: lightgray;
  }
  .nav-menu-item-mobile {
    background-color: white;
    color: #000000;
    font-size: 12px;
    font-family: 'Roboto';
    border-color: lightgray;
    border-width: 1px;
    text-align: center;
    font-weight: bold;
  }
  .nav-menu-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
    margin-left: 35px;
  }
  .nav-content-right {
    text-decoration: underline;
    color: #000000;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 500;
    align-items: flex-end;
    justify-content: space-between;
  }
  .website-logo-right {
    height: 15px;
    width: 30px;
  }
}

.nav-mobile-btn {
  border: none;
  padding: 0px;
  background: transparent;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .nav-mobile-btn {
    display: none;
  }
}

.nav-bar-img {
  width: 22px;
  height: 30px;
}
.website-logo-right {
  height: 20px;
  width: 20px;
  text-align: right;
  margin-left: 45px;
  margin-bottom: 15px;
}
.nav-menu-item-mobile-left {
  background-color: white;
  color: #000000;
  font-size: 12px;
  font-family: 'Roboto';
  border-color: lightgray;
  border-width: 1px;
  text-align: center;
  margin-left: 26px;
  font-weight: bold;
}
.nav-menu-item-mobile-right {
  background-color: white;
  color: #000000;
  font-size: 12px;
  font-family: 'Roboto';
  border-color: lightgray;
  border-width: 1px;
  text-align: center;
  margin-right: 26px;

  font-weight: bold;
}
